Repository discord-modmail/modmail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-default-configuration-is-exported, flake8

ensure-default-configuration-is-exported:
  name: Export default configuration
  language: python
  entry: poetry run python -m scripts.export_new_config_to_default_config
  additional_dependencies:
  - pyyaml==5.4.1

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  language: python
  require_serial: true

fix: method now returns instance of class instead of class
  modmail/extensions/threads.py
Due: flake8

tests: add some tests for threads
  modmail/utils/threads/models.py
  tests/modmail/extensions/test_threads.py
  tests/modmail/utils/threads/test_models.py
Due: flake8

fix: only import bot when type checking
  modmail/utils/cogs.py
Due: flake8

tests: add tests for utils.thread.decorators
  modmail/utils/threads/decorators.py
  tests/modmail/utils/threads/test_decorators.py
Due: flake8

tests: add tests for the contact command
  tests/modmail/extensions/test_threads.py
Due: flake8

Add documentationfor news management tool
  pyproject.toml
  scripts/news/README.md
  scripts/news/__main__.py
  scripts/news/config.toml
  scripts/news/template.md.jinja
Due: flake8

Add option to edit/keep fragments while building
  scripts/news/__main__.py
  scripts/news/utils.py
Due: flake8

nit: remove some extra trailing commas and move typing indicator
  modmail/extensions/threads.py
Due: flake8

hotfix: patch embeds throughout the entire test suite
  tests/conftest.py
  tests/modmail/conftest.py
  tests/modmail/utils/test_embeds.py
Due: flake8

tests: add general test for reply_to_user
  tests/modmail/extensions/test_threads.py
Due: flake8

scripts: show diff when exporting config edits files
  scripts/export_new_config_to_default_config.py
Due: flake8

fix: no more weird new lines
  modmail/default_config.toml
  modmail/default_config.yaml
  scripts/export_new_config_to_default_config.py
Due: ensure-default-configuration-is-exported, flake8

Delete dependabot.yml
  .github/dependabot.yml
Due: none

Delete update_requirements_dependabot.yml
  .github/workflows/update_requirements_dependabot.yml
Due: none

Remove dependabot (#114)
  .github/dependabot.yml
  .github/workflows/update_requirements_dependabot.yml
Due: none

scripts: add wrapper to run scripts by invoking the scripts module
  poetry.lock
  pyproject.toml
  scripts/__main__.py
Due: flake8

minor: change method docstring
  scripts/__main__.py
Due: flake8

minor: make scripts a module instead of namespace
  scripts/__init__.py
Due: flake8

scripts: add task in pyproject.toml
  pyproject.toml
Due: none

minor(config): touch up the visual UI
  modmail/extensions/configuration_manager.py
Due: flake8

fix: update prefix when configured prefix is updated
  modmail/bot.py
  modmail/config.py
  modmail/default_config.toml
  modmail/default_config.yaml
Due: ensure-default-configuration-is-exported, flake8

minor fixes to export config script
  .pre-commit-config.yaml
  modmail/default_config.toml
  modmail/default_config.yaml
  scripts/export_new_config_to_default_config.py
Due: ensure-default-configuration-is-exported, flake8

nit: use `dictionary` instead of `dit` to not look like a typo
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

config: rename .env.template to template.env
  .gitignore
  .pre-commit-config.yaml
  docs/contributing.md
  scripts/export_new_config_to_default_config.py
  template.env
Due: flake8

config(docs): document configuration loading priority
  docs/contributing.md
Due: none

minor: touch up comments and flatten branches
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

hooks: export docs/.requirements.txt too
  .pre-commit-config.yaml
  docs/.requirements.txt
  scripts/export_requirements.py
Due: flake8

fix: use commands.run_converters() in the configuration manager
  modmail/extensions/configuration_manager.py
Due: flake8

config-manager: add set-default command to reset to default
  modmail/extensions/configuration_manager.py
Due: flake8

add set default command and offload setting config to a helper method
  modmail/extensions/configuration_manager.py
Due: flake8

fix: add missing character to filter, fix env loading
  modmail/config.py
  modmail/extensions/configuration_manager.py
  modmail/utils/extensions.py
Due: ensure-default-configuration-is-exported, flake8

fix: use metadata provided converter to convert objects
  modmail/config.py
  modmail/extensions/configuration_manager.py
Due: ensure-default-configuration-is-exported, flake8

nits: standardize naming and make class names more self explanatory
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

config: make dotenv optional and better errors when missing variables
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

config: add logging and stabilize configuration directory
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

minor: use functools cache to cache the config
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

use factories to generate mutable classes and add more logging
  modmail/config.py
  tests/modmail/test_config.py
Due: ensure-default-configuration-is-exported, flake8

fix: use config.user to return configured prefix
  modmail/extensions/meta.py
Due: flake8

chore: export the extended description after the normal description to app.json
  app.json
  scripts/export_new_config_to_default_config.py
Due: flake8

Path conditions:
  ensure-default-configuration-is-exported: any of: (modmail\/(config.py|default_config(.toml|.yaml)))$
  flake8: any of: \.py$
