Repository discord-modmail/modmail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-default-configuration-is-exported, flake8

ensure-default-configuration-is-exported:
  name: Export default configuration
  language: python
  entry: poetry run python -m scripts.export_new_config_to_default_config
  additional_dependencies:
  - pyyaml==5.4.1

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  language: python
  require_serial: true

tools: automatically export required environment varaibles to .env.template
  .env.template
  .pre-commit-config.yaml
  modmail/config.py
  modmail/default_config.toml
  modmail/default_config.yaml
  scripts/export_new_config_to_default_config.py
Due: ensure-default-configuration-is-exported, flake8

tools: add app.json to configuration exports
  .pre-commit-config.yaml
  app.json
  modmail/config.py
  modmail/utils/embeds.py
  modmail/utils/extensions.py
  scripts/export_new_config_to_default_config.py
Due: ensure-default-configuration-is-exported, flake8

fix: add missing modmail dependencies to additional hook dependencies
  .pre-commit-config.yaml
Due: none

minor: manaually update references to configuration files
  docs/contributing.md
Due: none

fix: no configuration files now loads the default config
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

fix: create a Config instance when adding it to the bot
  modmail/bot.py
Due: flake8

fix: load prefix from modmail_config.toml if not in .env
  .env.template
  .pre-commit-config.yaml
  app.json
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

fix: ignore extra configuration variables
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

minor: use attr helper method instead of reimplementing it
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

chore: switch _load_config to pack positional args rather than require an iterable
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

fix: rewrite environment variable parser to support all configuration options
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

feat: add ConfigMetadata part 1
  .env.template
  .pre-commit-config.yaml
  app.json
  modmail/config.py
  scripts/export_new_config_to_default_config.py
Due: ensure-default-configuration-is-exported, flake8

fix recursive dict update overriding set values
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

chore: update export docstring
  scripts/export_new_config_to_default_config.py
Due: flake8

fix: respect priorty of configuration sources
  .env.template
  app.json
  modmail/config.py
  scripts/export_new_config_to_default_config.py
Due: ensure-default-configuration-is-exported, flake8

fix pre-commit maybe
  .pre-commit-config.yaml
Due: none

nit: rename config class Bot to BotCfg to prevent future confusion
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

fix: add ConfigMetadata part 2
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

chore: remove unused dict manipulation method
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

chore: implement new metadata options on cfg default export
  modmail/config.py
  scripts/export_new_config_to_default_config.py
Due: ensure-default-configuration-is-exported, flake8

tests: add config loading tests
  modmail/config.py
  pyproject.toml
  tests/modmail/test_config.py
Due: ensure-default-configuration-is-exported, flake8

feat: add configuration manager cog
  modmail/config.py
  modmail/extensions/configuration_manager.py
Due: ensure-default-configuration-is-exported, flake8

migrate some existing values to new configuration
  modmail/config.py
  modmail/default_config.toml
  modmail/default_config.yaml
  modmail/extensions/extension_manager.py
  modmail/utils/embeds.py
Due: ensure-default-configuration-is-exported, flake8

feat: rudimentary setting and getting configuration status
  modmail/extensions/configuration_manager.py
Due: flake8

minor: hide frozen values which can't be changed from the configuration
  modmail/extensions/configuration_manager.py
Due: flake8

refactor getvalue
  modmail/extensions/configuration_manager.py
Due: flake8

fix: don't load the .env file to the environment
  modmail/config.py
  tests/modmail/test_config.py
Due: ensure-default-configuration-is-exported, flake8

minor: change config pre-commit hook to exit with 1 if files edited
  scripts/export_new_config_to_default_config.py
Due: flake8

fix precommit requirements
  .pre-commit-config.yaml
Due: none

config: allow emojis to be set (needs more work)
  modmail/config.py
  modmail/extensions/configuration_manager.py
Due: ensure-default-configuration-is-exported, flake8

nit: fix typo in variable name
  modmail/config.py
  modmail/extensions/configuration_manager.py
Due: ensure-default-configuration-is-exported, flake8

nit: typing, formatting, and comment changes
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

fix: make errors more helpful if config dependencies are not installed
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

minor: move opened-at timestamp to a field
  modmail/extensions/threads.py
Due: flake8

fix: change dockerfile installation
  Dockerfile
  requirements.txt
Due: none

WIP add script to generate requirements.txt file
  .pre-commit-config.yaml
  poetry.lock
  requirements.txt
  scripts/export_requirements.py
Due: flake8

scripts: add export support for python version markers
  requirements.txt
  scripts/export_requirements.py
Due: flake8

complete the export requirements script
  requirements.txt
  scripts/export_requirements.py
Due: flake8

minor: use the generated requirements.txt file in docker
  Dockerfile
Due: none

fix: remove unused function
  scripts/export_requirements.py
Due: flake8

Path conditions:
  ensure-default-configuration-is-exported: any of: (modmail\/(config.py|default_config(.toml|.yaml)))$
  flake8: any of: \.py$
